*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #263238;
}


.calc{
    width: 350px;
    height: 450px;
    background: #000;
    border-radius: 10px;
    position: relative;
}
input{
    border-radius: 10px;
    width: 100%;
    height: 65px;
}

button{
    width: 86px;
    height: 76px;
}

.flex{
    display: flex;
}
#barobar{
    height: 304px;
    margin-left: 258px;
   position: absolute;
   top: 141px;
   border-bottom-right-radius: 10px;
   background-color: orange;
}
#nol{
    border-bottom-left-radius: 10px;
}